<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="main.java.utils.SuiteListner" />
	</listeners>
	<test name="DivideBuy Test Automation CRM">
		<parameter name="browserName" value="chrome" />
		<parameter name="url" value="https://crm.dividebuy-qa.info/login" />
		<classes>
			<class name="main.java.Test.CRMTestClass" />
		</classes>
	</test>
	<test name="DivideBuy Test Automation Portal">
		<parameter name="browserName" value="chrome" />
		<parameter name="url" value="https://v4portal.dividebuy-qa.info/" />
		<classes>
			<class name="main.java.Test.PortalTestClass" />
		</classes>
	</test>
	<test name="DivideBuy Test Automation RCAdmin">
		<parameter name="browserName" value="chrome" />
		<parameter name="url" value="http://rcadmin.dividebuy-qa.info/auth/index" />
		<classes>
			<class name="main.java.Test.RCAdminTestClass" />
		</classes>
	</test>
	<test name="DivideBuy Test Automation Checkout">
		<parameter name="browserName" value="chrome" />
		<parameter name="url" value="https://cleanmagento1qa.dbuytest.info/" />
		<classes>
			<class name="main.java.Test.V5CheckoutTestClass" />
		</classes>
	</test>
	<test name="DivideBuy Test Automation Account">
		<parameter name="browserName" value="chrome" />
		<parameter name="url" value="https://v4accounts.dividebuy-qa.info/" />
		<classes>
			<class name="main.java.Test.AccountTest" />
		</classes>
	</test>

</suite> <!-- Suite -->